body {
    background: #b6ad90;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1, h2 {
    margin: 2px;
}

span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: #333d29;text-shadow: 2px 2px #588157;
}

.heading {
    font-family: 'Architects Daughter', cursive;
}

.container {
    display: flex;
}

.plant {
    height: 90vh;
    background-size: cover ;
    background-position: center;
    font-family: 'Architects Daughter', cursive;
    flex: 1;
    margin: 5px;
    position: relative;
}

h4 {
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: #b6ad90;
    color: black;
    opacity: 0;
}

.price{
    position: absolute;
    background-color: #b6ad90;
    color: black; 
    bottom: 40px;
    left: 20px;
    opacity: 0;
}
.one {
background-image: url(src/pineapple.jpg);
}

.two {
background-image: url(src/money-tree.jpg);
}

.three {
    background-image: url(src/watermelon.jpg);
}

.four {
    background-image: url(src/chinese.jpg);
}

.five {
    background-image: url(src/calathea.jpg);
}

.six {
    background-image: url(src/aechmea.jpg);
}

.selected {
    flex: 4;
}

.selected h4 {
    font-size: 40px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected p {
    font-size: 50px;
    transition: all 1s ease-in;
    opacity: 1;
}

label {
font-size: 30px;
}

.text-input {
    background-color: #b6ad90;
    border: 1px solid #333d29;
}

.btn {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    color: #333d29; 
    font-weight: bold;
    background-color: #b5c99a;
    width: 200px;
    border: 1px solid #333d29;
    border-radius: 10px;
}

#carousel {
    display: flex;
    justify-content: center;
}

#pictures {
    width: 400px;
    height: 600px;
}

.btnBtn {
   width: auto;
   padding: 10px;
}