body {
    background: #cfe1b9;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: #333d29;text-shadow: 2px 2px #588157;
}

.heading {
    font-family: 'Architects Daughter', cursive;
}

.container {
    display: flex;
}

.plant {
    height: 90vh;
    background-size: cover ;
    background-position: center;
    font-family: 'Architects Daughter', cursive;
    flex: 1;
}

.one {
background-image: url(/src/pineapple.jpg);
}

.two {
background-image: url(/src/money-tree.jpg);
}

.three {
    background-image: url(/src/watermelon.jpg);
}

.four {
    background-image: url(/src/chinese.jpg);
}

.five {
    background-image: url(/src/calathea.jpg);
}

.six {
    background-image: url(/src/aechmea.jpg);
}